<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958959017453-1e92d21lgnosd34u377d20c4h1goqf58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958959017453-1e92d21lgnosd34u377d20c4h1goqf58</string>
	<key>API_KEY</key>
	<string>AIzaSyBkSGHraALarQah9H1fgNwox-Ur0o0VvI0</string>
	<key>GCM_SENDER_ID</key>
	<string>958959017453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dwss.mgramseva</string>
	<key>PROJECT_ID</key>
	<string>mgramseva-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>mgramseva-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958959017453:ios:20d3aa61351b206e31dbe4</string>
</dict>
</plist>